{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-3 mb-3 bg-light">
            <!-- カードヘッダー -->
            <div class="card-header bg-success text-light">
                <h4>住所の追加</h4>
            </div>
            <!-- カードボディー -->
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="address">住所:</label>
                    <input type="text" name="address" id="address">
                    <!-- ボタン -->
                    <button type="submit" class="btn btn-success btn-lg btn-block mt-2" onclick="javascript:history.go(-1);">追加</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}