{% extends './base.html' %}

{% block content %}
<div class="container">
    <br>
    <h1>出品ページ</h1>
    <hr>

    <form method="post" action="{%url 'items:add_item'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="item_title_input" class="form-label">{{form.item_title.label_tag}}</label>
            {{form.item_title}}
        </div>
        <div class="mb-3">
            <label for="item_explain_input" class="form-label">{{form.item_explain.label_tag}}</label>
            {{form.item_explain}}
        </div>
        <div class="form-group">
            <label for="inputFile">{{form.item_image.label_tag}}</label>
            <div class="custom-file">
                {{form.item_image}}
                {% comment %} 次のコード書くとデザインきれいになるけれど、選択したファイル名が表示されなくなる
                <label class="custom-file-label" for="inputFile">Choose file</label> {% endcomment %}
            </div>
        </div>
        <div class="mb-3">
            <label for="item_category_input" class="form-label">{{form.item_category.label_tag}}</label>
            {{form.item_category}}
        </div>
        <div class="mb-3">
            <label for="item_condition_input" class="form-label">{{form.item_condition.label_tag}}</label>
            {{form.item_condition}}
        </div>
        <div class="mb-3">
            <label for="item_price_input" class="form-label">{{form.item_price.label_tag}}</label>
            {{form.item_price}}
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-lg">出品する</button>
        </div>
    </form>
   
    
</div>


{% endblock %}
